[submodule "pack/plugins/opt/ctrlp.vim"]
	path = pack/plugins/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/opt/tagbar"]
	path = pack/plugins/opt/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/plugins/opt/vim-hybrid"]
	path = pack/plugins/opt/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
